h1, h2, h3, h4 {
  text-align: center;
  /*padding: 5px 0 10px 0;*/
}

img{
  display: block;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.customOption {
  margin: 10px;
  height: 150px;
  border: 0;
  background-color: white;
}

.customOption img {
  height: 100px;
}

.customOption label, .customOption visible content label, .customOption hidden content label{
  text-align: center;
  font-size: 20px;
  display: block;
}

.customOption: hover{
  background-color: red;
}

.backOption{
  height: 100%;
}

.frwdOption{
  height: 100%;
  background-color: white;
}

#container {
  height: 100%;
  padding-left: 5em;
  padding-right: 5em;
  /*background-image: url('../Images/Background.jpg');*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
}


/*GRIDS*/

#filters {
  /*border: 1px black solid;*/
  /*border: 10px solid #00B5AD;
  border-radius: 25px;
  */
  padding: 0;
  margin: 0;
}

.detailerOptionsDiv {
  margin: 5px 0 5px 0;
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;*/
}

#optionNumberText {
  font-size: 50px;
}

#detailerText {
  font-variant: small-caps;
  font-weight: bold;
}

#ratingText {
  color: orange;
}
