html,
body{
  min-height: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header{
  background-color: snow;
}

#navbar{
margin-top: 50px;
height: 50px;
}

#container {
  min-height: 100%;
  background-image: url('../Images/Background-2.jpg');
  background-size: cover;
  background-repeat: repeat;
  padding: 10px 0 25px 0;
  /*-webkit-filter: blur(10px);*/
  /*padding-left: 5em;
  padding-right: 5em;*/
}

footer{
  /*height: 50px;*/
  background-color: snow;
  color: lightblue;
  font-size: 2em;
  font-weight: bold;
}

footer div{
  margin-left: 50px;
}

footer div img{
  margin: 5px 20px;
}





h1, h2, h3, h4 {
  text-align: center;
  /*padding: 5px 0 10px 0;*/
}

.pointer {
  cursor: pointer;
}

.customOption{
  background-color: LightSkyBlue;
  opacity: 0.9;
  margin: 10px;
}

.customOption:hover{
  background-color: LightBlue;
}

.test:checked+label {
    background-color: red;
}

.customOption img {
  height: 130px;
  display: block;
  margin: 5px auto;
}

.customOption label, .customOption visible content label, .customOption hidden content label{
  text-align: center;
  font-size: 20px;
  display: block;
}

.backOption{
  height: 100%;
}

.frwdOption{
  height: 100%;
}



#wizardHeader{
  padding: 25px;
  color: royalblue;
}

/*GRIDS*/

#filters {
  /*border: 1px black solid;*/
  /*border: 10px solid #00B5AD;
  border-radius: 25px;
  */
  padding: 0;
  margin: 0;
}

.detailerOptionsDiv {
  margin: 5px 0 5px 0;
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;*/
}

#optionNumberText {
  font-size: 50px;
}

#detailerText {
  font-variant: small-caps;
  font-weight: bold;
}

#ratingText {
  color: orange;
}
