<div class="grid ui centered" id="wizardHeader">
  <h3>No matter where you are...</h3><br>
  <h1><i>WASH</i></h1> <h1>your car!</h1>
</div>

<!-- First step: Services -->
<div class="grid ui" ng-show="landingCtrl.showFirstStep">
  <div class="one wide column">
  </div>
  <div class="fourteen wide column grid ui centered">
    <button class="five wide column blue customOption ui fade animated button" ng-repeat="service in landingCtrl.services">
        <div class="visible content">
          <img src="{{service.picture}}" alt="{{service.picture}}"/>
          <label>{{service.serviceType}}</label>
        </div>
        <div class="hidden content">
          <i class="shop icon"></i>
          <label>Add {{service.serviceType}} to cart</label>
        </div>
      </button>
  </div>
  <div class="one wide column frwdOption pointer" ng-click="landingCtrl.goToSecondStep()">
    <i class="right chevron icon"></i>
  </div>
</div>

<!-- Second step: Vehicle Type -->
<div class="grid ui" ng-show="landingCtrl.showSecondStep">
  <div class="one wide column backOption pointer" ng-click="landingCtrl.goToFirstStep()">
    <i class="left chevron icon"></i>
  </div>
  <div class="fourteen wide column grid ui centered">
    <button class="five wide column blue customOption ui fade animated button" ng-repeat="vehicleType in landingCtrl.vehicleTypes">
      <div class="visible content">
        <img src="{{vehicleType.picture}}" alt="{{vehicleType.picture}}"/>
        <label>{{vehicleType.vehicleSize}}</label>
      </div>
      <div class="hidden content">
        <i class="shop icon"></i>
        <label>Add {{vehicleType.vehicleSize}} to cart</label>
      </div>
    </button>
  </div>
  <div class="one wide column frwdOption pointer" ng-click="landingCtrl.goToThirdStep()">
    <i class="right chevron icon"></i>
  </div>
</div>

<!-- Third step: DateTime -->
<div class="grid ui" ng-show="landingCtrl.showThirdStep">
  <div class="one wide column backOption pointer" ng-click="landingCtrl.goToSecondStep()">
    <i class="left chevron icon"></i>
  </div>
  <div class="fourteen wide column grid ui input centered">
    <label class="ten wide column" for="appointmentDate">When would you like to schedule your service?:</label>
    <input class="ten wide column" type="date" id="appointmentDate">
  </div>
  <div class="one wide column frwdOption pointer" ng-click="landingCtrl.goToFourthStep()">
    <i class="right chevron icon"></i>
  </div>
</div>

<!-- Fourth step: Address -->
<div class="grid ui" ng-show="landingCtrl.showFourthStep">
  <div class="one wide column backOption pointer" ng-click="landingCtrl.goToThirdStep()">
    <i class="left chevron icon"></i>
  </div>
  <div class="fourteen wide column grid ui input centered">
    <label class="ten wide column" for="address" class="ten wide column">Address</label>
    <input class="ten wide column" type="text" />
    <!-- <input type="text" class="form-control" g-places-autocomplete ng-model="landingCtrl.address"> -->
  </div>
  <div class="one wide column frwdOption pointer" ui-sref="results">
    <i class="right chevron icon"></i>
  </div>
</div>

<!-- <div class="customButton" ng-repeat="vehicleType in landingCtrl.vehicleTypes">

</div> -->
